body{
    margin:40px;
    padding:10px;
}
.container {
    border: solid;
    border-radius: 3px;
    border-width: 0.5px;
    background-color: #bebabe;
   }
   a{
    text-decoration: none;
    color: #808089;
   }
   .navbar-brand{
    height: 60px;
   }
.nav-link{
    color: white;
}
